app-listing-editor{

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile{
            justify-content: left;
            align-items: flex-start;
        }

        fieldset{
            display: flex;
            flex-direction: column;

            section{
                display: flex;
                flex-direction: row;
                

                @include mobile{
                    flex-direction: column;

                    &:last-of-type{
                        flex-direction: row;
                    }
                }

            }
        }
    }

    
    

    .image-preview{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img{
            max-width: 250px;
            margin: 3px;
        }
    }
}