<h1 *ngIf="!listing">Add Listing</h1>
<h1 *ngIf="listing">Edit Listing - {{listing.description}}</h1>

<div>
    <fieldset>
        <section>
            <label for="descriptionControlInput">Description</label>
            <input id="descriptionControlInput" type="text" [formControl]="descriptionControl" size="50"
                placeholder="description" />
        </section>
        <section *ngIf="descriptionControl.touched && descriptionControl.invalid">
            <span class="validation">Please enter a description</span>
        </section>
    </fieldset>

    <fieldset>
        <section>
            <label for="addressControlInput">Address</label>
            <input id="addressControlInput" type="text" [formControl]="addressControl" size="50"
                placeholder="Address" />
        </section>
        <section class="validation" *ngIf="addressControl.touched && addressControl.invalid">
            <span class="validation">Please enter an address</span>
        </section>
    </fieldset>

    <fieldset>
        <section>
            <label for="postcodeControlInput">Post Code</label>
            <input id="postcodeControlInput" type="text" [formControl]="postcodeControl" minlength="2" maxlength="8"
                size="8" placeholder="AA1 1AA" />
        </section>
        <section class="validation" *ngIf="postcodeControl.touched && postcodeControl.invalid">
            <span class="validation">Please enter a valid Post code</span>
        </section>
    </fieldset>

    <fieldset>
        <section>
            <label for="numberRoomsControlInput">Number of rooms</label>
            <input id="numberRoomsControlInput" type="range" [formControl]="numberRoomsControl" min="1" max="300"
                step="1" />
            <span>{{numberRoomsControl.value || 0}}</span>
        </section>
        <section class="validation" *ngIf="numberRoomsControl.touched && numberRoomsControl.invalid">
            <span class="validation">Number of rooms can be between 1-300</span>
        </section>
    </fieldset>

    <fieldset>
        <section>
            <label for="askingPriceControlInput">Asking Price</label>
            <input id="askingPriceControlInput" type="number" [formControl]="askingPriceControl" size="10"
                step="1000" />
        </section>
        <section class="validation" *ngIf="askingPriceControl.touched && askingPriceControl.invalid">
            <span class="validation">Please set a valid asking price in GBP</span>
        </section>
    </fieldset>

    <fieldset>
        <section>
            <button class="go" [disabled]="!canSubmit()" (click)="submitListing($event)">Submit</button>
            <button class="danger" (click)="navigateBack($event)">Cancel</button>
            <button *ngIf="listing" (click)="uploadImage($event)">Upload-image</button>
        </section>
    </fieldset>
</div>

<ng-container *ngIf="images">
    <div class="image-preview">
        <section *ngFor="let image of images">
            <img [src]="image.url" alt="preview image for {{listing.description}}" />
            <!-- <a (click)="deleteImage($event, image)">delete</a> -->
        </section>
    </div>
</ng-container>