<h1>Property Listings</h1>

<p *ngIf="isRetrievingListings">Retrieving Listings..</p>

<p *ngIf="!isRetrievingListings && !listings">No property listings available.</p>

<div *ngIf="!isRetrievingListings && listings">
    <section class="listing" *ngFor="let listing of listings">
        <span>{{ listing.description }}</span>
        <span>{{ listing.postCode }}</span>
        <span>{{ listing.numberBedrooms }}</span>
        <span>{{ listing.askingPrice }}</span>
        <app-listing-image-preview [imageHref]="getImageHref(listing)"></app-listing-image-preview>
    </section>
</div>

