<ng-container *ngIf="listing">
    <h1>{{ listing.description }}</h1>

    <div>
        <section>
            <label>Location</label>
            <address>
                <p>{{listing.address}}</p>
                <p>{{listing.postCode}}</p>
            </address>
        </section>

        <section>
            <label>Bedrooms</label>
            <span>{{listing.numberBedrooms}}</span>
        </section>

        <section>
            <label>Price</label>
            <span>{{listing.askingPrice | currency:'GBP':true}}</span>
        </section>

        <section>
            <button class="go" (click)="editListing($event)">Edit</button>
            <button class="danger" (click)="expireListing($event)">Expire</button>
        </section>
    </div>

    <h2>Images</h2>

    <ng-container *ngIf="images">
        <div class="image-preview">
            <img *ngFor="let image of images" [src]="image.url" alt="preview image for {{listing.description}}"/>
        </div>
    </ng-container>


</ng-container>