<ng-container *ngIf="listing">
    <h1>{{ listing.description }}</h1>

    <section>
        <h2>Location</h2>
        <address>
            <p>{{listing.address}}</p>
            <p>{{listing.postCode}}</p>
        </address>
    </section>

    <section>
        <h2>Number of Bedrooms</h2>
        <p>{{listing.numberBedrooms}}</p>
    </section>

    <section>
        <h2>Asking Price</h2>
        <p>{{listing.askingPrice}}</p>
    </section>

    <section>
        <button (click)="expireListing($event)">Expire-Listing</button>
        <button (click)="expireListing($event)">Expire-Listing</button>
    </section>

    <ng-container *ngIf="images">
        <div class="image-preview">
            <img *ngFor="let image of images" [src]="image.url" />
        </div>
    </ng-container>


</ng-container>