$tea-green: #CAE7B9;
$buff: #F3DE8A;
$dark-salmon: #EB9486;
$light-slate-gray: #7E7F9A;
$cadet-grey: #97A7B3;
$aero-blue: #c9ffe2;
$magic-mint: #b6f9c9;
$teal-deer: #96e8bc;
$pastel-green: #7dd181;
$middle-green: #4b7f52;
$azure: #32a1fc;
$selective-yellow: #ffba08;
$boston-university-red: #d00000;

$black: #000000;
$white: #ffffff;
$medium-sea-green: #44af69;
$deep-carmine-pink: #f8333c;
$dark-tangerine: #fcab10;
$light-sea-green: #2b9eb3;
$timberwolf: #dbd5b5;
$midnight: #1f2d3d;